<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizza.web.dao.AccessLogDao">

    <insert id="insert">
        insert into access_log(
            json_result
        )values(
            #{jsonResult}
        )
    </insert>
    <update id="updateLog">
        update access_log
        <set>
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
        </set>
        where id = #{id}
    </update>
    <select id="getByPage" resultType="com.lizza.web.entity.AccessLog">
        select id, json_result jsonResult from access_log where id between #{param1} and #{param2}
    </select>
</mapper>